body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #8d8181;
    background-image: url(audiobook-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header, footer {
    background-color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
    background: rgba(red, green, blue, alpha);
    border-radius: 8px;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: dotted;
}